<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Fabian's blog">
        <meta name="author" content="Fabian Zimmer">
        <title>QFMA</title>
        <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/flatly.css">
        <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/helix.css">
    </head>

     <body>

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://qfma.de">
                        <img class="img-responsive hidden-xs" src="{{ .Site.BaseUrl }}/img/qfma-helix-logo.svg">
                        <!-- <strong class=" visible-xs" >QFMA</strong> -->
                        <img class="img-responsive visible-xs logo-small" src="{{ .Site.BaseUrl }}/img/qfma-helix-logo.svg">
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="page-scroll navbar-links" href="/about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll navbar-links" href="/blog">Blog</a>
                        </li>
                        <li>
                            <a class="page-scroll navbar-links" href="/research">Research</a>
                        </li>
                        <li>
                            <a class="page-scroll navbar-links" href="/publications">Publications</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
