html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

pre {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.row {
    padding-top: 6em;
    padding-left: 1em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-collapse{
	background:white;
}

.navbar-brand {
    max-width: 30%;
}

.logo-small {
    max-width: 50%;
}

.helix-large {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 65%;
}

.fz-frontpage {
  padding-top: 2em;
}

.frontpage {
  font-size: 1.2em
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #F5F7FA;
}


.icon-spacer {
  margin-right: 20px;
  margin-top: 15px;
}

.icon-twitter {
    color: #4A89DC;
}

.icon-grey{
	color: #434A54;
}

.list-inline{
  margin-bottom: 0;
}