// Global Foundation Settings
@import "settings";


// Import Foundation
@import "foundation/scss/foundation";
@import "foundation-icons";


// Personal stylesheets
@import "icon-effects";
@import "footer";
@import "topbar-transparent";


h1 {
    font-size: 5em;
    font-family: "Cinzel";
    color: white;
}

h3, h4, p {
    color: white;
}

.front-header{
    text-align: center;
    margin-top: 10%;
    // margin-bottom: 1em;
}

.row-semi-transparent {
    background-color: rgba(0,0,0,0.7);
}


.large-white-icon {
  font-size: 3em;
  color: white;
}


.large-black-icon {
  font-size: 3em;
  color: black;
}


.icon-list {
  @include inline-list;
  display: inline-block;
  text-align: center;
  padding-right: 1em;
}
