.top-bar-section li a:not(.button) {
    background: transparent !important;
}

.top-bar-section li a:not(.button):hover {
    background: $primary-color !important;
}

.top-bar-section ul {
    background: transparent;
}