---
layout: default
title: QFMA about
---

h1 About

Yup, that's me.

p 
    If you would like to contact me, just send a mail to fabian (at) qfma.de.
    I also use PGP, so feel free to encrypt your message using my public key.
    Here is the fingerprint:
    pub   4096R/609253ED 2013-10-03 [expires: 2017-10-03]
          Key fingerprint = 1EB8 F675 6D20 D4A2 16D6  C0AD 3777 D8FC 6092 53ED
    uid                  Fabian Zimmer 
    sub   4096R/C083BFF1 2013-10-03 [expires: 2017-10-03]

p 
    If you want to contact me on a work related issue, here are those details:
    Fabian Zimmer
    fabian.zimmer.12 (at) ucl.ac.uk
    Department of Genetics, Evolution and Environment
    Darwin Building, Room 218
    Gower Street, London, WC1E6BT
    University College London
