---
layout: frontpage
title: QFMA
---

h4 Hi, I am Fabian Zimmer, a computational biologist. Currently I am doing my PhD in the group of Judith Mank at UCL in London. I am mainly interested in understanding the evolution of gene expression, the evolution of sex chromosomes, linking genotype and phenotype and the evolution of gene families. For a more detailed overview see the research section.

h4 I also blog about random things....